/* src/components/HomePage/ProductCard.css */
.product-card {
  width: 193px;
  height: 243px;
box-sizing: border-box;
background: #FAFAF9;
border: 1px solid #E5E5E5;
border-radius: 4px;
}

.product_img{
  width: 189px;
  height: 143px;
  border-radius: 4px;
background: #D9D9D9;
border-radius: 4px 4px 0px 0px;

}


.product_name, .product_price {
  display: flex;
  color: #000000;
  margin-left: 13px;
  margin-top: 10px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;

}
.product_price{
  margin-top: 20px;
}