.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-height: 500px;
    overflow-y: auto;
    color: black;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

.addressList {
    margin-bottom: 20px;
}

.addressItem {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    color: black;
}

.addressItem:hover {
    background-color: #f4f4f4;
}

.selected {
    border: 2px solid #033D62;
    background-color: #e7f3ff;
    border-radius: 10px;
}

.modalActions {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #033D62;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


