/* src/pages/home_page/homepage.css */



body {
  background-color: #F9FAFB;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* CONTAINER PRINCIPAL */
.searchpage-container {
  background-color: #F9FAFB;
  padding: 20px;
  margin-top: 50px;
}
.productnotfound{
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: auto;
  height: 300px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-align: start;
}
.line {
  width: 100vw;
  height: 0;
  border-top: 1px solid #99A1AF;
  margin: 0;
  max-width: none;
}

/* SEÇÕES */
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* TÍTULOS */
.tittle_session {
  width: 170px;
  height: 29px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-align: start;
}

.page_tittle {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}
/* TÍTULOS ESTRUTURA */
.tittle_line {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.div_tittle_session,
.div_tittle_session1 {
  display: flex;
  align-items: flex-start;
  width: 100%;
  max-width: 1095px;
}

/* Comportamento controlado do espaço entre itens */
.div_tittle_session1 {
  justify-content: space-between;
  overflow: hidden;
}

/* CONTAINER DE CARDS */
.cards-container {
  display: flex;
  gap: 23px;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1095px;
}

.pagination{
  margin-top: 37px;
}


.pagetittle_search_text{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search_text{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: #000000;
height: 29px;
display: flex;
align-items: center;
}


.hidden {
  top: 70px;
  left: 10%;
  position: fixed;
}


.store_name_img{
  display: flex;
  width: 100%;
  margin: 30px;
  gap: 30px;
  max-width: 1095px;
}

.store_name{
/* PointCell */
display: flex;
align-items: center;
width: 201px;
height: 39px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
/* identical to box height */

color: #000000;


}

.store_img{
/* Rectangle 63 */
width: 99px;
height: 99px;
background: #D9D9D9;
border-radius: 150px;
}


.product_filter{
  max-width: 1095px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.text_products{
  /* Produtos */
display: flex;
width: 350px;
height: 31px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 31px;
color: #000000;
}