.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 16px;
  width: 350px;
  height: 280px; /* altura fixa para padronizar */
  margin: 16px auto;
  transition: transform 0.2s ease-in-out;
}
.field strong {
  color: #555;
}
.field:last-child {
  font-weight: bold;
  color: #2a7;
}
.field{
  color: #2a7;
}
.card:hover {
  transform: translateY(-4px);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex-grow: 1;
  overflow: hidden;
}

.storeName {
  font-size: 1.25rem;
  font-weight: 600;
  color: #222;
  height: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.textLine {
  font-size: 0.95rem;
  color: #555;
  height: 1.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}

.actions {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-top: 12px;
}

.icon {
  width: 28px;
  height: 28px;
  cursor: pointer;
  transition: transform 0.15s ease;
}

.icon:hover {
  transform: scale(1.1);
}
