.text1_pnf{
    width: 100%;
    height: 29px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.text2_pnf{
    width: 100%;
    height: 66px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}

.search_not_found{
    margin: 50px auto;
    width: 500px;
}
.lupa_img{
    width: 101px;
    height: 101px;

}
.tittle_session_serachpage{
    width: 240px;
}