body {
  background-color: #F9FAFB;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  overflow-x: hidden;
}

.breadcrumb-admmange-product {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 18px;
  font-size: 14px;
  color: #333;
  max-width: 1200px;
  width: 100%;
  padding: 0 2rem;
  margin: 65px auto 0 auto;
}

.defalt-text{
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 23px;
line-height: 28px;
color: #000000;
}
.element-1-breadcrumb-admmange {
  color: #6b7280;
  text-decoration: none;
  cursor: pointer;
  font-weight: 700;
  transition: color 0.2s ease;
}

.element-1-breadcrumb-admmange:hover {
  color: #000000;
  transition: 0.4s;
}

.div-contentegt-1-admmange {
  color: #F9FAFB;
}


.breadcrumb-separator-line-admmange {
  height: 1px;
  background-color: #D9D9D9;
  width: 100%;
  max-width: 1200px;
  margin: -15px auto;
}

.homepage-container {
  background-color: #F9FAFB;
  padding: 20px;
  margin-top: 60px;

}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.tittle_session_homepage {
  width: 250px;
  height: 29px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-align: start;
}

.page_tittle {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

.line {
  width: 100%;
  max-width: 1095px;
  height: 0;
  border: 1px solid #99A1AF;
  margin: 0;
}

.tittle_line {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  max-width: 1095px;
  margin: 0 auto;
  padding: 0 16px;
}

.div_tittle_session,
.div_tittle_session1 {
  display: flex;
  align-items: flex-start;
  width: 100%;
  max-width: 1095px;
}

.div_tittle_session1 {
  justify-content: space-between;
  overflow: hidden;
}

.cards-container-home {
  display: flex;
  gap: 23px;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1095px;
  justify-content: center;
}

.cards-container-store {
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1095px;
}